img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

body {
    background-color: black;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
}

h1 {
    font-family: "Climate Crisis", serif;
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    color: darkred;
}

ul,
ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}